* {
  margin: 0;
}

.ourProjects {
  background-image: url(./img/Bg.png);
  text-align: center;
  padding-bottom: 2rem;
  overflow: hidden;
  &-header {
    display: grid;
    grid-template-columns: .1fr .7fr .4fr 0.1fr;
    grid-template-rows: 0.5fr 0.5fr;
    padding-top: 5rem;
    margin-bottom: 3rem;

    &--title {
      white-space: nowrap;
      font-family: 'Kyiv Region', sans-serif;
      font-size: 82px;
      font-weight: 500;
      line-height: 80px;
      letter-spacing: 0em;
      text-align: left;
      justify-self: start;
      align-self: center;
      text-transform: uppercase;
      @media (max-width: 1150px){
        font-size: 7vw;
      }
    }

    &--text {
      font-family: 'IBM Plex Mono', monospace;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      width: 418px;
      @media (max-width: 1228px){
        width: 300px;
      }
    }

    &--info {
      font-family: 'IBM Plex Mono', monospace;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      color: #BF1616;
      grid-row: 2;
      grid-column: 3;
      & span {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }
  &-staticImage{
    width: 3.5rem;
    height: 3.5rem;
    background-color: #BF1616;
    border-radius: 10px;
  }
  .staticImage-0{
    justify-self: center;
    align-self: end;
    margin-bottom: 0.5rem;
  }
  .staticImage-1{
    grid-row: 2;
    grid-column: 1;
    justify-self: end;
    margin-right: 0.5rem;
    align-self: center;
  }
  .staticImage-2{
    grid-row: 3;
    grid-column: 2;
    margin-top: 0.5rem;
  }
  .staticImage-3{
    grid-column: 3;
    justify-self: baseline;
    margin: 0;
    align-self: center;
    margin-left: 0.5rem;
  }
  &-container {
    width: 56rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
    grid-template-rows: 1fr 0.1fr 1fr;
    gap: 0.4rem;
    &--logos{
      opacity: 0.7;
      align-self: center;
    }
    @media screen and (min-width: 1023px) and (max-width: 1100px){
      width: 57rem;
      margin-left: 5.5vw;
    }
     .grid {

      &-row {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 5px;
        align-items: center;
        & div:nth-of-type(3) {
          grid-column: 4;
        }

        & div:nth-of-type(5) {
          grid-column: 1;
        }

        & div:nth-of-type(10) {
          grid-column: 2;
        }

        & div:nth-of-type(13) {
          grid-column: 1;
        }

        & div:nth-of-type(18) {
          grid-column: 1;
        }

        & div:nth-of-type(20) {
          grid-column: 4;
        }

      }
      &-item{
        &-imageInfo{
          position: absolute;
          top: 0;
          padding: 1.5rem;
          display: grid;
          justify-items: start;
          grid-template-columns: 0.1fr 1fr;
          grid-template-rows: 1fr 1fr;
          column-gap: 2rem;
          z-index: 1;
          & p:nth-of-type(1){
            color: white;
            background-color: #BF1631;
            border-radius: 50px;
            grid-row: 1/3;
            font-family: 'Kyiv Region', sans-serif;
            font-size: 36px;
            font-weight: 600;
            line-height: 35px;
            letter-spacing: 0em;
            width: 4rem;
            height: 4rem;
            padding-top: 1.15rem;
            text-align: center;
            justify-self: center;
            align-self: center;
          }
          & p:nth-of-type(2){
            color: white;
            font-family: 'IBM Plex Mono', monospace;
            font-size: 24px;
            font-weight: 600;
            line-height: 44px;
            letter-spacing: 0em;
            text-align: center;


          }
          & p:nth-of-type(3){
            font-family: 'IBM Plex Mono', monospace;
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: start;

            color: white;

          }
        }
      }
    }
    .grid-0{
      grid-column: 1;
      grid-row: 1;
    }
    .grid-1{
      grid-row: 1;
      grid-column: 3;
    }
    .grid-2{
      grid-column: 1;
    }
  }
  &-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Kyiv Region', sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    background-color: #BF1616;
    color: white;
    margin: 2rem auto;
    width: 28rem;
    height: 10.5rem;
    &:hover{
      background-color: #BF16169D;
      transition: 0.35s;
    }
  }
}

.ourProjects-svg{
  grid-column: 2;
  justify-self: end;
  transform: rotate(140deg);
  margin-right: 1.5rem;
}
#arrow {
  fill: #000;
}

#curveLine {
  fill: none;
  stroke: #000;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  animation: reverseStroke 1s forwards;
}

@keyframes reverseStroke {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 204;
  }
}

.grid-item {
  position: relative;
  overflow: hidden;
}

.grid-item-content {
  transition: transform 0.3s ease;
  transform-origin: center center;
}


.full-width-height {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.expanded-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.expanded-image img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.expanded-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.expanded-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


.grid-item {
  position: relative;

  transition: transform 0.3s ease;
}


.grid-item-content {
  width: 100%;
  height: 100%;
}

.overlay-image{
  z-index: 999;
}
.overlay-image {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.overlay-image img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
}
.full-image-content{
  position: relative;
  width: 100%;
  height: 100%;

}
.full-image-container {
  display: grid;
  justify-content: center;
  width: 100% ;
  height: 24rem ;

}
.full-image-container.container-active {
  animation: kitty .9s ease-in-out;
  transition: opacity .5s ease-in-out;
}

@keyframes kitty {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.full-image-container img {
  width: 100%;
  height: 95% ;
  object-fit: fill;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  border: 2px solid #BF1616;
}
.ourProjects-container--grid.grid-2 {
  .grid-row div:nth-of-type(22) {
    grid-row: 1;
    grid-column: 1/6;
    justify-self: end;
    margin-right: 0.4rem;
  }

  .grid-row div:nth-of-type(23) {
    grid-row: 2;
    grid-column: 6;
  }
}

.ourProjects-container--grid.grid-3 {
  .grid-row div:nth-of-type(22) {
    justify-self: start;
    margin-left: 0.4rem;
    grid-row: 1;
    grid-column: 1/7;
  }
}
.logos{
  display: flex;
}
@media (max-width: 1023px) {
  .ourProjects {
    padding-bottom: 1rem;
    &-header {
      grid-template-columns: 0.9fr 0.5fr;
      padding: 3rem 0 0 2rem;
      @media (max-width: 810px){
        grid-template-columns: 0.9fr 0.3fr;
      }
      &--title {
        font-size: 7vw;
        font-weight: 500;
        line-height: 62px;
        @media (max-width:768px){
          font-size: 9vw;
        }
      }
      &--text {
        grid-row: 2;
        grid-column: 1/3;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        padding-bottom: 3rem;
      }
      &--info {
display: none
      }
    }
    &-svg{
      display: none;
    }
    &-staticImage{
      display: none;
    }
    &-container {
      grid-template-columns: 1fr;
      width: 90vw;
      padding: 1rem 0;
      row-gap: 3rem;
      &--grid {
      }
    }
    &-button {
      font-size: 24px;
      line-height: 23px;
      width: 25rem;
      height: 6rem;
      & img{
        width: 2rem;
      }
    }
  }
  .full-image-container {
    display: block;
  }
  .grid-item{
    width: 90vw;
    height: 21rem;
    cursor: default;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    &-content{
      background-color: rgba(0,0,0,0.4);
    }
  }
}
@media (max-width: 480px) {
  .ourProjects {
    padding-bottom: 0.5rem;
    &-header {
      grid-template-columns: 1fr 0.3fr;
      padding: 2rem 0 0 1rem;
      &--title {
        margin-top: 0.5rem;
        font-size: 9vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      &--text {
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 0;
      }
    }
    &-container {
      width: 90%;
      &--grid .grid {
        &-row {
          grid-template-columns: repeat(2, 1fr);
          gap: 8px;
        }
      }
    }
    &-button {
      font-size: 14px;
      line-height: 13px;
      width: 15.5rem;
      height: 5rem;
    }
    .ourProjects-svg {
      margin-right: 1rem;
    }
  }
  .grid-item{
    height: 11rem;
    &-imageInfo{
      padding: 1.5rem;
      display: grid;
      grid-template-columns: 0.1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 2rem;
      & p:nth-of-type(1){
        grid-row: 1/3;
        font-size: 16px;
        line-height: 15px;
        width: 2.25rem;
        height: 2.25rem;
        padding-top: 0.65rem;
        justify-self: center;
        align-self: center;
      }
      & p:nth-of-type(2){
        font-size: 16px;
        line-height: 19px;
        text-align: center;
      }
      & p:nth-of-type(3){
        font-size: 14px;
        line-height: 17px;
        text-align: start;
      }
    }
  }
}
