* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 0.45rem;
  background: none;
  transition: background 0.5s;

  &.scrolled {
    background: rgba(0, 0, 0, 0.5);
  }

  &.infopage {
    background: rgba(0, 0, 0, 0.5);
  }

  &-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 1024px) {
      justify-content: space-between;
    }
  }

  &-logo {
    width: 162.357px;
    height: 39px;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    gap: 5rem;
    @media (max-width: 1150px) {
      background-image: url(./img/phoneBg.png);
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      transform: translateX(-100%);
      top: 0;
      left: 0;
      bottom: 0;
      width: 50%;
      height: 100vh;
      background-color: #f8f8f8;
      z-index: 10;
      transition: transform 1s;
    }
    @media (max-width: 576px) {
      width: 100%;
      overflow: hidden;
    }

    &.active {
      transform: translateX(0);
    }

  }

  &-list {
    margin-right: 30px;
    display: flex;
    gap: 55px;
    @media (max-width: 992px) {
      flex-direction: column;
    }

    &__item {
      position: relative;

      &__link {
        color: #FFF;
        font-family: "IBM Plex Mono", monospace;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        @media (max-width: 992px) {
          color: #000;
        }
      }

      & a {
        color: #FFF;
        font-family: "IBM Plex Mono", monospace;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        @media (max-width: 992px) {
          color: #000;
        }
      }

      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        background: #FFF;
        bottom: 0;
        left: 0;
        transition: width 0.3s;
      }

      &:hover {
        &::before {
          width: 100%;
        }
      }
    }
  }

  &__btn {
    padding: 15px;
    background: rgba(223, 14, 14, 0.90);
    color: #FFF;
    font-family: "IBM Plex Mono", monospace;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    border: 3px solid #FFF;
    border-radius: 0;
    &:hover{
      background: rgba(223, 14, 14, 0.40);
    }
  }

  &__btns {
    display: none;

    color: #FFFFFF;
    @media screen and (max-width: 1150px) {
      display: block;
      z-index: 9999;
    }
  }
}

.popup-overlay {
  align-items: center;
  background: hsla(0, 0%, 100%, .8);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
}
