*{
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.containerr {
  position: relative;
  width: 100%;
  margin: 0 auto;
  @media (max-width: 1480px) {
    width: 90%;
  }
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  @media (max-width: 992px) {
    justify-content: space-between;
  }
  &.scrolled {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.4); // Затемнений фон
  }
  &-logo {
    width: 162.357px;
    height: 39px;
    @media (max-width: 992px) {
      margin-left: 20px;
    }
  }
  &-wrapper {
    display: flex;
    align-items: center;
    @media (max-width: 992px) {
      background-image: url(./img/phoneBg.png);
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      transform: translateX(-100%);
      top: 0;
      left: 0;
      bottom: 0;
      width: 50%;
      height: 100vh;
      background-color: #f8f8f8;
      z-index: 10;
      transition: transform 1s;
    }
    @media (max-width: 576px) {
      width: 100%;
      overflow: hidden;
    }
    &.active {
      transform: translateX(0);
    }

  }
  &-list {
    margin-right: 30px;
    display: flex;
    gap: 55px;
    @media (max-width: 992px) {
      flex-direction: column;
    }
    &__item {
      & a {
        color: #FFF;
        font-family: Mariupol;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        @media (max-width: 992px) {
          color: #000;
        }
      }
    }
  }
  &__btn {
    padding: 15px;
    background: rgba(223, 14, 14, 0.60);
    color: #FFF;
    font-family: Mariupol;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    border: 3px solid #FFF;
  }
  &__btns {
    display: none;
    cursor: pointer;
    color: #FFFFFF;
    @media screen and (max-width: 992px) {
      display: block;
      margin-right: 20px;
      z-index: 9999;
    }
  }
}
.popup-overlay{
  align-items: center;
  background: hsla(0,0%,100%,.8);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
}