// style.scss

.footer {
  width: 100%;
  background-image: url(background.png);
  &-content {
    padding: 2rem;
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
  & span {
    display: block;
  }
  &-logo {
    text-decoration: none;
    color: black;
    cursor: pointer;

    & img {
      width: 14.5rem;
    }
  }

  &-info {
    text-align: initial;
    width: 33%;
    &--item {
      margin-bottom: 1rem;

      &:not(:first-child) {
        padding-left: 0.5rem;
        font-family: "IBM Plex Mono", monospace;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }

  &-navigation {
    text-align: initial;
    width: 25%;
    &--title {
      font-family: "IBM Plex Mono", monospace;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      margin-bottom: 1.5rem;
    }

    &--item {
      font-family: "IBM Plex Mono", monospace;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0;
      text-align: left;
      margin-bottom: 0.5rem;
      cursor: pointer;
    }

    & a {
      color: black;
      text-decoration: none;
    }
  }

  &-contacts {
    text-align: initial;

    &--item {
      font-family: "IBM Plex Mono", monospace;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 0.5rem;
    }

    &--title {
      font-family: "IBM Plex Mono", monospace;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 1.5rem;
    }

    & a {
      color: black;
      text-decoration: underline;
    }

    & a[href^="tel"],
    & a[href^="mailto"] {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 1.5rem;

    &-logo {
      & img {
        width: 100%;
      }
    }
    &-info {
      &--item {
        font-size: 16px;
      }
    }
    &-navigation {
      text-align: initial;

      &--item {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
      }
    }

    &-contacts {
      &--item {
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;

        & a[href^="tel"],
        & a[href^="mailto"] {
          text-decoration: none;
          font-weight: 400;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .footer {
    display: grid;
    padding: 1rem;
    align-items: start;
    column-gap: 0.75rem;
    &-info {
      width: 80vw;
      grid-column: 1/3;
      justify-self: start;
      &--item {
        font-size: 16px;
        line-height: 20px;
      }
    }
    &-navigation {
      width: 100%;
      &--title {
        font-size: 16px;
        line-height: 20px;
      }
      &--item {
        font-size: 15px;
        line-height: 19px;
      }
    }
    &-contacts {
      width: 100%;
      &--title {
        font-size: 16px;
        line-height: 20px;
      }
      &--item {
        font-size: 15px;
        line-height: 19px;
      }
    }
  }
}
