.more-project {
    background: rgba(223, 14, 14, 0.60);
    width: 441px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  @media screen and (min-width: 1024px) and (max-width: 1100px){
    width: 100%;
  }
  &:hover{
    background-color: #BF16167D;
    transition: 0.35s;
  }
    &__title {
        color: #FFF;
        font-family: 'Kyiv Region', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
    }
}
@media (max-width: 1023px){
  .more-project{
    width: 25rem;
    height: 6rem;
    justify-self: center;
    &__img{
      width: 2rem;
    }
  }
}
@media (max-width: 480px){
  .more-project{
    width: 15rem;
    height: 4.5rem;
    justify-content: space-evenly;
    gap: 0;
    &__img{
      width: 2rem;
    }
    &__title {
      font-size: 17px;
      text-transform: uppercase;
    }
  }
}